{
	"keys": [
		{
			"kid": "access",
			"kty": "oct",
			"k": "base64secret",
			"alg": "HS256"
		},
		{
			"kid": "refresh",
			"kty": "oct",
			"k": "base64secret",
			"alg": "HS256"
		},
				{
			"kid": "activate",
			"kty": "oct",
			"k": "base64secret",
			"alg": "HS256"
		},
		{
			"kid": "recovery",
			"kty": "oct",
			"k": "base64secret",
			"alg": "HS256"
		}
	]
}